@import "https://fonts.googleapis.com/css?family=Laila:400|Lato:700,400|Karla:400|Kanit:400";
@import "https://fonts.googleapis.com/css?family=Dancing+Script:700";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@-webkit-keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }
@-moz-keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }
@-o-keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }
@keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

body.main-page {
  margin: 0;
  padding-top: 550px;
  overflow-y: inherit;
  -webkit-overflow-scrolling: touch; }

body.portfolio-page {
  margin: 0;
  padding-top: 350px;
  overflow-y: inherit;
  -webkit-overflow-scrolling: touch; }

body.contact-page {
  margin: 0;
  padding-top: 350px;
  overflow-y: inherit;
  -webkit-overflow-scrolling: touch; }

.active {
  border-bottom: 2px solid #FF5722; }

header {
  -webkit-animation: bugfix infinite 1s;
  -moz-animation: bugfix infinite 1s;
  -o-animation: bugfix infinite 1s;
  animation: bugfix infinite 1s; }

input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px; }

#menu-label {
  display: none;
  cursor: pointer;
  user-select: none; }

h1 {
  font-family: "Laila", serif;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.20;
  opacity: 1.00;
  margin-top: 0px;
  margin-bottom: 10px;
  letter-spacing: -0.72px;
  word-spacing: 0.00px;
  text-transform: uppercase; }

h2 {
  font-family: "Laila", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.20;
  opacity: 1.00;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: -0.72px;
  word-spacing: 0.00px;
  text-transform: none; }

h3 {
  font-family: "Laila", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.20;
  opacity: 1.00;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: 0.00px;
  word-spacing: 0.00px;
  text-transform: uppercase; }

p {
  font-family: "Kanit", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.60;
  opacity: 0.70;
  margin-top: 0px;
  margin-bottom: 25px;
  letter-spacing: -0.30px;
  word-spacing: -0.10px;
  text-transform: none; }

.account {
  color: #FF5722;
  font-weight: bolder; }
  .account a {
    text-decoration: none;
    color: #FF5722; }

.social-container {
  max-width: 350px;
  margin: 0 auto; }

.social {
  float: left;
  margin: 1em 1em;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 33px;
  color: #fff;
  transform: rotateY(0deg);
  transition: transform .25s ease-out;
  transform-style: preserve-3d; }

.social > div {
  width: 30px;
  height: 30px;
  background: #000;
  position: absolute; }

.social > .front {
  transform: translateZ(12px); }

.social > .back {
  background: #3B5998;
  color: #fff;
  font-size: 1.5em;
  transform: rotateY(-100deg) translateZ(12px); }

.social.social-twitter > .back {
  background: #00A9F1; }

.social.social-linkedin > .back {
  background: #007BB6; }

.social.social-github > .back {
  background: #800080; }

.social.social-codepen > .back {
  background: #000000; }

.social.social-location > .back {
  background: #4285F4; }

.social:hover {
  transform: rotateY(100deg); }

.footer-nav > li {
  border-right: 1px solid #FF5722;
  padding: 0 5px; }

.footer-nav > li:last-child {
  border-right: none; }

.four0four {
  max-width: 350px;
  margin: 0 auto; }
  .four0four .number {
    display: inline-block;
    text-align: center; }
    .four0four .number h1 {
      font-size: 8em;
      color: #FF5722; }

.not-found-button {
  text-transform: uppercase; }

@media screen and (max-width: 44em) {
  nav[role=menu] a {
    display: none;
    height: 100%; }
  nav[role=menu] #menu-label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.4em;
    margin: 0;
    color: #FF5722;
    border-bottom: 0.15em solid #B83C3A; }
    nav[role=menu] #menu-label:after {
      position: absolute;
      right: .25em;
      top: 0;
      content: '\2261';
      font-size: 1.8em; }

  .active {
    border-bottom: none; }

  input[type="checkbox"]:checked ~ a {
    display: block;
    width: 100%;
    opacity: .8;
    text-align: center;
    border-bottom: 1px solid black; }

  input[type="checkbox"]:checked ~ a:hover {
    color: black;
    font-weight: bold; } }
@-webkit-keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }
@-moz-keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }
@-o-keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }
@keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@media screen and (min-width: 320px) {
  .main p, .capabilities p {
    text-align: justify; }

  .wrap {
    min-height: calc(100vh - 175px); }

  header {
    height: 550px;
    padding-top: 50px;
    background: url("https://images.unsplash.com/uploads/14125120591540eb48427/c1c4b1aa?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=71aef009b7955aa75361f9b9cc90108e") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    overflow: hidden;
    color: #fff; }
    header p {
      font-size: 1.125em;
      font-weight: 600; }
    header .head-title {
      font-weight: bold; }

  .main-nav, .main, .capabilities, .footer, .funfacts {
    position: relative; }

  .fa-chevron-circle-right {
    color: #FF5722; }

  .add-opacity {
    opacity: 0.3; }

  img.me {
    height: 250px;
    width: 250px; }

  .main-nav {
    background: #fff;
    margin-bottom: -80px;
    z-index: 150;
    box-shadow: 0 4px 5px rgba(184, 60, 58, 0.4); }
    .main-nav a {
      padding: 5px 10px 5px 10px;
      display: inline-block;
      color: #B83C3A;
      font-size: 1em;
      font-weight: normal;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none; }
    .main-nav a:hover {
      color: black;
      font-weight: bold; }

  .main {
    background: #fff;
    padding: 110px 50px 50px; }

  .capabilities {
    background: #fff;
    padding: 40px 50px 50px; }

  .funfacts {
    background: #fff;
    padding: 40px 50px 50px; }

  .divider {
    border-bottom: 1px solid #B6B6B6; }

  .underline {
    font-weight: 600; }

  .footer {
    background: #737175;
    color: #fff;
    overflow-y: hidden; }
    .footer .footer-nav {
      list-style: none;
      padding: 10px 2px 2px 2px;
      text-transform: uppercase;
      font-size: 0.875em; }
      .footer .footer-nav a, .footer .footer-nav a:hover, .footer .footer-nav a:visited {
        text-decoration: none;
        color: #FF5722; }
    .footer .footer-items {
      display: inline; }
      .footer .footer-items a, .footer .footer-items a:hover, .footer .footer-items a:visited {
        text-decoration: none; }

  header, .main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0; }

  .btn {
    padding: 4px 18px 4px 18px;
    color: #fff;
    background: #FF5722;
    border-color: #FF5722;
    border-radius: 0; }
    .btn:hover {
      color: #FF5722;
      background: #fff;
      border-radius: 0; }

  .progress-bar {
    background-color: #FF5722;
    font-weight: bolder; }

  .name {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    color: #fff;
    text-transform: none; }

  .btn {
    margin-top: 20px; } }
@media screen and (min-width: 650px) {
  .name {
    font-family: 'Dancing Script', cursive;
    font-size: 3.75em; }

  header {
    background-attachment: fixed; }
    header p {
      font-size: 1.25em;
      font-weight: 600; }

  .btn {
    margin-top: 30px; }

  .main-nav a {
    padding: 7px 12px 7px 12px; }

  .btn {
    padding: 6px 24px 6px 24px; } }
@media screen and (min-width: 980px) {
  .name {
    font-family: 'Dancing Script', cursive;
    font-size: 5em; }

  header p {
    font-size: 1.375em;
    font-weight: 600; }

  .btn {
    margin-top: 40px; }

  .main-nav a {
    padding: 10px 15px 10px 15px; }

  .btn {
    padding: 8px 30px 8px 30px; } }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@media screen and (min-width: 320px) {
  header.contact {
    height: 350px;
    padding-top: 50px;
    background: url("https://images.unsplash.com/photo-1451421924504-c52d431cdad5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9d965a78fac3ea25b7c88cc959eb5654") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    overflow: hidden; }
    header.contact p {
      font-size: 1.625em;
      font-weight: bolder; }

  .contact, .main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0; }

  .navbar-toggle {
    color: #FF5722; }

  .contact-info p {
    font-size: 1.125em;
    text-align: justify; }

  .has-error input {
    background: #ebcdcc; }
  .has-error textarea {
    background: #ebcdcc; }

  .has-success input {
    background: transparent; }
  .has-success textarea {
    background: transparent; } }
@media screen and (min-width: 768px) {
  form {
    padding: 0 0 0 55px; }

  header.contact {
    background-attachment: fixed; } }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@media screen and (min-width: 320px) {
  header.portfolio {
    height: 350px;
    padding-top: 50px;
    background: url("https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ca8c08d17555247f7580691500bb5351") no-repeat center center;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; }
    header.portfolio p {
      font-size: 1.375em;
      font-weight: bolder;
      color: #fff; }

  .portfolio, .main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0; }

  .portfolio-row {
    padding: 5px 10px; }
    .portfolio-row .project-title {
      color: #FF5722; }
    .portfolio-row .portfolio-item {
      margin-top: 15px; }

  h4 {
    font-size: 1em; }

  figure {
    margin: 0;
    position: relative;
    overflow: hidden; }
    figure img {
      max-width: 100%;
      display: block;
      position: relative;
      transition: transform 0.4s; }
    figure:hover img {
      transform: translateY(-50px); }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #FF5722; }
    figcaption h3 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      color: #fff; }
    figcaption span::before {
      content: 'by '; }
    figcaption a {
      text-align: center;
      padding: 2px 8px;
      border-radius: 2px;
      display: block;
      background: #FF5722;
      color: #fff; }

  figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s; }

  figure:hover figcaption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s; }
    figure:hover figcaption a {
      position: absolute;
      bottom: 5px;
      left: 20px; }
      figure:hover figcaption a:hover {
        text-decoration: none;
        background-color: #fff;
        color: #FF5722; } }
@media screen and (min-width: 650px) {
  header.portfolio {
    background-attachment: fixed; }

  figcaption h3 {
    font-size: 1.25em; }
  figcaption a {
    padding: 5px 10px;
    display: inline-block; } }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.gi-2x {
  font-size: 2em;
  color: #FF5722; }

.code-pen, .project-desc {
  margin-top: 30px; }

.code-pen {
  height: auto; }

.project-desc > p.project-title {
  text-align: center;
  font-size: 1.125em;
  font-weight: 600;
  color: #576D94;
  text-transform: uppercase;
  letter-spacing: 1.7px; }
.project-desc a, .project-desc a:hover, .project-desc a:visited {
  text-decoration: none; }
.project-desc a:hover {
  color: #FF5722; }
.project-desc .panel-heading {
  background: #B83C3A;
  color: #fff; }

/*# sourceMappingURL=main.css.map */
