mixin site-header(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	header.header
		.site-container
			nav.nav(role="navigation")
				ul.primary-nav.list-unstyled.flex.flex-wrap.jc-space-around.ai-center
					each item in spec.navigation
						li.primary-nav__item
							a(href=item.url)= item.name
					
