mixin site-header(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	header.header
		.site-container
			h1.site-logo
				a(href="/")
					span.first-name Priyesh
					span.last-name Tungare
			i.fas.fa-bars.js-menu-toggle.mobile-only
			nav.nav(role="navigation")
				ul.primary-nav.list-unstyled
					each item in spec.navigation
						li.primary-nav__item.text-center
							a(href=item.url)= item.name
					
