.p0 {
	padding: 0;
}

.p5 {
	padding: 5px;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p5-h {
	padding: 0 5px;
}

.p10-h {
	padding: 0 10px;
}

.p15-h {
	padding: 0 15px;
}

.p20-h {
	padding: 0 20px;
}

.p5-v {
	padding: 5px 0;
}

.p10-v {
	padding: 10px 0;
}

.p15-v {
	padding: 15px 0;
}

.p20-v {
	padding: 20px 0;
}

.m0 {
	margin: 0;
}

.m5 {
	margin: 5px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m5-h {
	margin: 0 5px;
}

.m10-h {
	margin: 0 10px;
}

.m15-h {
	margin: 0 15px;
}

.m20-h {
	margin: 0 20px;
}

.m5-v {
	margin: 5px 0;
}

.m10-v {
	margin: 10px 0;
}

.m15-v {
	margin: 15px 0;
}

.m20-v {
	margin: 20px 0;
}

