
.flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.fd-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.jc-center {
    justify-content: center;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-space-around {
    justify-content: space-around;
}

.ai-center {
    align-items: center;
}

.as-center {
    align-self: center;
}

.as-flex-start {
    align-self: flex-start;
}