// breakpoints
$bpMobile: 320px;
$bpLgMobile: 480px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;


$base-font-size: 10px;

//colors

$white: #fff;
$black: #000;

$base-color: #30CBE8;
$accent-color: #FF4430;
$accent-color-2: #FFBF30;

$grey-1: #3A4A4D;
$grey-2: #F9FBFB;

$gradient-1: #eef2f3;
$gradient-2: #8e9eab;