// home-about styles

.home-about {
	padding: 3rem 0;

	h2 {
		margin: 0;
	}
}

.about-container {

	&--heading {
		padding-bottom: 1.5rem;
	}

	&--content {
		flex-direction: column;


		.about-image-container {
			width: 100%;
			position: relative;
			padding: 10px;

			img {
				@include img-responsive();
				margin: auto;
				transition: transform .4s ease-in;

				&:hover {
					transform: scale(1.05);
				}
			}
		}

		.about-text-container {
			color: $grey-1;
			font-size: calc-rem(18px);
			padding-top: 10px;
		}

		@include tablet {
			flex-direction: row;
		}
	}
}
