@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

@media screen and (min-width: 320px) {

  %p-justify{
    p {
      text-align: justify;
    }
  }

  .wrap {
    min-height: calc(100vh - 110px);
  }

  header{
    height: 550px;
    padding-top: 50px;
    // background-color: $dark-primary-color;
    // background: url('https://images.unsplash.com/photo-1430165558479-de3cf8cf1478?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a8d560cd877f002980248703b48efff0') no-repeat center center fixed;
    background: url('https://images.unsplash.com/uploads/14125120591540eb48427/c1c4b1aa?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=71aef009b7955aa75361f9b9cc90108e') no-repeat center center;
    @include bgCover;
    overflow: hidden;
    color: $white;

      p {
        font-size: em(18);
        font-weight: 600;
      }

      .head-title {
        font-weight: bold;
      }

  }

  .main-nav, .main, .capabilities, .footer, .funfacts {
    position: relative;
  }

  .fed, .ster {
  margin: 20px auto;
}

.fa-chevron-circle-right{
  color: $accent-color;
}

  .add-opacity {
    opacity: 0.3;
  }


img.me {
  height: 250px;
  width: 250px;
}

  .main-nav {
    background: #fff;
    margin-bottom: -80px;
    z-index: 150;
    box-shadow: 0 4px 5px rgba(184,60,58,0.4);

    a {
      padding: 5px 10px 5px 10px;
      display: inline-block;
      color: $dark-primary-color;
      font: {
        size: em(16);
        weight: normal;
      }
      line-height: 50px;
      text: {
        align: center;
        transform: uppercase;
        decoration: none;
      }
    }

    a:hover{
      color: black;
      font-weight: bold;
    }

  }

  .main {
    background: #fff;
    padding: 90px 50px 50px;
    @extend %p-justify;
  }

  .capabilities {
    background: $white;
    padding: 5px 50px 50px;
    @extend %p-justify;
  }

  .funfacts {
    background: $white;
    padding: 20px 50px 50px;
  }

  .facts>li {
    font-family: "Kanit", sans-serif;
    font-size: em(22);
    font-weight: 400;
    line-height: 1.60;
    opacity: 0.70;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
  }

  .divider {
    border-bottom: 1px solid $divider-color;
  }

  .underline {
    font-weight: 600;
  }

  .facts {
    list-style: none;
  }

  .footer {
    background: lighten($secondary-color,20%);
    color: $white;

    .footer-nav{
      list-style: none;
      padding: 10px 2px 2px 2px;
      text-transform: uppercase;
      font-size: em(14);

      & a, & a:hover, & a:visited {
        text-decoration: none;
        color: $accent-color;
      }
    }

    .footer-items {
      display: inline;

      & a, & a:hover, & a:visited {
        text-decoration: none;
      }
    }

    .footer-social {
      border: 2px solid gold;
    }

  }

  header, .main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
  }

  .btn {
    padding: 4px 18px 4px 18px;
    color: $white;
    background: $accent-color;
    border-color: $accent-color;
    border-radius: 0;

    &:hover {
      color: $accent-color;
      background: $white;
      border-radius: 0;
    }

  }

  .progress-bar {
    background-color: $accent-color;
    font-weight: bolder;
  }

  .name {
    font-family: 'Dancing Script', cursive;
    font-size: em(40);
    color: $white;
    text-transform: none;
  }
  .btn {
    margin-top: 20px;
  }

}


@media screen and (min-width: 650px) {
  .name {
    font-family: 'Dancing Script', cursive;
    font-size: em(60);
  }

  header {
    background-attachment: fixed;
    p {
      font-size: em(20);
      font-weight: 600;
    }
  }

  .btn {
    margin-top: 30px;
  }

  .main-nav {
    a {
      padding: 7px 12px 7px 12px;
    }
  }

  .btn {
    padding: 6px 24px 6px 24px;
  }
}


@media screen and (min-width: 980px){
  .name {
    font-family: 'Dancing Script', cursive;
    font-size: em(80);
  }

  header {
    p {
      font-size: em(22);
      font-weight: 600;
    }
  }

  .btn {
    margin-top: 40px;
  }

  .main-nav {
    a{
      padding: 10px 15px 10px 15px;
    }
  }

  .btn {
    padding: 8px 30px 8px 30px;
  }

}
