@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

@media screen and (min-width: 320px) {

  %p-justify{
    p {
      text-align: justify;
    }
  }

  .wrap {
    min-height: calc(100vh - 110px);
  }

  header{
    height: 550px;
    padding-top: 50px;
    background-color: $dark-primary-color;

    p {
      font-size: 16px;
      color: $white;
    }
  }

  .main-nav, .main, .capabilities, .footer {
    position: relative;
  }

  .main-nav {
    background: #fff;
    margin-bottom: -80px;
    z-index: 150;
    box-shadow: 0 4px 5px rgba(184,60,58,0.4);

    a {
      padding: 10px 15px 10px 15px;
      display: inline-block;
      color: $dark-primary-color;
      font: {
        size: 16px;
        weight: normal;
      }
      line-height: 50px;
      text: {
        align: center;
        transform: uppercase;
        decoration: none;
      }
    }

  }

  .main {
    background: #fff;
    padding: 110px 50px 50px;
    @extend %p-justify;
  }

  .capabilities {
    background: $white;
    padding: 60px 50px 50px;
    @extend %p-justify;
  }

  .divider {
    border-bottom: 1px solid $divider-color;
  }

  .footer {
    background: lighten($secondary-color,20%);
    color: $white;

    .footer-nav{
      list-style: none;
      padding: 10px 2px 2px 2px;
      text-transform: uppercase;
      font-size: 14px;

      & a, & a:hover, & a:visited {
        text-decoration: none;
        color: $accent-color;
      }
    }

    .footer-items {
      display: inline;

      & a, & a:hover, & a:visited {
        text-decoration: none;
      }
    }

    .footer-social {
      margin-bottom: 20px;
    }

    .fb {
      color: $facebook;
    }

    .twitter {
      color: $twitter;
    }

    .linkedin {
      color: $linkedin;
    }

    .github {
      color: $github;
    }

    .codepen {
      color: $codepen;
    }

  }

  header, .main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
  }

  .btn {
    padding: 8px 30px 8px 30px;
    color: $white;
    background: $accent-color;
    border-color: $accent-color;
    border-radius: 0;

    &:hover {
      color: $accent-color;
      background: black;
      border-color: black;
      border-radius: 0;
    }

  }

  .progress-bar {
    background-color: $accent-color;
  }

  .name {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: $white;
  }

  h1 {
    font-size: 20px;
    color: $white;
  }

  .btn {
    margin-top: 20px;
  }

}


@media screen and (min-width: 650px) {
  .name {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: $white;
  }

  h1 {
    font-size: 30px;
    color: $white;
  }

  .btn {
    margin-top: 30px;
  }
}


@media screen and (min-width: 980px){
  .name {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: $white;
  }


  h1 {
    font-size: 40px;
    color: $white;
  }

  .btn {
    margin-top: 40px;
  }

}
