@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'helpers/variables';

@media screen and (min-width: 320px){
  header.portfolio{
    height: 350px;
    padding-top: 50px;
    // background-color: $dark-primary-color;
    background: url('https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ca8c08d17555247f7580691500bb5351') no-repeat center center;
    overflow: hidden;
    @include bgCover;

    p {
      font-size: em(22);
      font-weight: bolder;
      color: $white;
    }
  }
  .portfolio, .main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
  }

  .portfolio-row {
    padding: 5px 10px;

    .project-title {
      color: $accent-color;
    }

    .portfolio-item {
      margin-top: 15px;
    }
  }

  h4 {
    font-size: em(16);
  }

  figure {
    margin: 0;
    position: relative;
    overflow: hidden;

    img {
      max-width: 100%;
      display: block;
      position: relative;
      transition: transform 0.4s;
    }

    &:hover img {
      transform: translateY(-50px);
    }
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: $figcaption-bg-color;
    color: $accent-color;

    h3 {
      margin: 0;
      padding: 0;
      color: $white;
    }

    span::before {
      content: 'by ';
    }

    a {
      text-align: center;
      padding: 5px 10px;
      border-radius: 2px;
      display: inline-block;
      background: $accent-color;
      color: $white;
    }
  }

  figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s;
  }

  figure:hover figcaption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s;

    a {
      position: absolute;
      bottom: 20px;
      right: 20px;

      &:hover {
        text-decoration: none;
        background-color: $white;
        color: $accent-color;
      }
    }
  }



}

@media screen and (min-width: 650px) {
  header.portfolio {
    background-attachment: fixed;
  }
}
