@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'helpers/variables';

@media screen and (min-width: 320px){
  header.portfolio{
    height: 350px;
    padding-top: 50px;
    // background-color: $dark-primary-color;
    background: url('https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ca8c08d17555247f7580691500bb5351') no-repeat center center;
    overflow: hidden;
    @include bgCover;

    p {
      font-size: em(18);
      color: $white;
    }
  }
  .portfolio, .main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
  }

  .portfolio-row {
    padding: 5px 10px;

    .project-title {
      color: $accent-color;
    }
  }

  h4 {
    font-size: em(16);
  }

  .card-img-overlay {
    opacity: 0;
    background: rgba(0,0,0,0.75);

    .btn {
      margin-top: 0;
      padding: 2px 10px 2px 10px;
    }
  }

  .card:hover .card-img-overlay {
    vertical-align: middle;
    text-align: center;
    opacity: 1;
  }


}

@media screen and (min-width: 650px) {
  header.portfolio {
    background-attachment: fixed;
  }
}
