include ../../atoms/section-title/section-title
include ../../atoms/read-more/read-more
include ../../molecules/portfolio-item/portfolio-item

mixin home-portfolio(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	section.home-portfolio
		.container
			.home-portfolio__heading
				+section-title({
					"title": "Portfolio",
					"__class": "white-text"
				})
			.home-portfolio__content
				each project in spec.projects
					- console.log('project -- ', project)
					+portfolio-item({
						"items": project
					})
				
				+read-more({
					"url": "#",
					"title": "View All",
					"__class": "view-all"
				})
