extends _layouts/base

include _modules/organisms/home-banner/home-banner
include _modules/organisms/home-about/home-about
include _modules/organisms/home-portfolio/home-portfolio

block content
	main.main#main
		+home-banner()

		+home-about()

		- var projects = site.data.portfolio
		+home-portfolio({
			"projects": projects.projects
		})