
@-webkit-keyframes bugfix {
  from{
    padding: 0;
  }
  to{
    padding: 0;
  }
}

@-moz-keyframes bugfix {
  from{
    padding: 0;
  }
  to{
    padding: 0;
  }
}

@-o-keyframes bugfix {
  from{
    padding: 0;
  }
  to{
    padding: 0;
  }
}

@keyframes bugfix {
  from{
    padding: 0;
  }
  to{
    padding: 0;
  }
}
