@mixin social-style($color) {
  padding: 8px 16px 8px 16px;
  border: 2px solid $color;
}

@mixin social-style-hover($color) {
  background: $color;
  color: #fff;
}

@mixin bgCover($size: cover){
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  -ms-background-size: $size;
  background-size: $size;
}

@mixin overflow-scroll {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
