//Colors

$white: #fff;
$dark-primary-color: #B83C3A;
$accent-color: #FF5722;
$primary-color: #2196F3;
$primary-text-color: #212121;
$light-primary-color: #BBDEFB;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
$secondary-color: #403F41;
$linkedin: #007BB6;
$facebook: #3B5998;
$twitter: #00A9F1;
$github: #800080;
$codepen: #000000;
